:root {
  --clr--profile-card: hsl(246, 80%, 60%);
  --clr--work-card: hsl(15, 100%, 70%);
  --clr--play-card: hsl(195, 74%, 62%);
  --clr--study-card: hsl(348, 100%, 68%);
  --clr--exer-card: hsl(145, 58%, 55%);
  --clr--soc-card: hsl(264, 64%, 52%);
  --clr--self-card: hsl(43, 84%, 65%);

  --clr--bg: hsl(226, 43%, 10%);
  --clr--data: hsl(235, 46%, 20%);
  --clr--data-hover: hsl(235, 45%, 61%);
  --txt-clr: hsl(236, 100%, 87%);
  --txt-clr-one: hsl(0, 0%, 100%);

  --ff--primary: 'Rubik', sans-serif;
}

* {
  font-family: var(--ff--primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: var(--clr--bg);
  color: var(--txt-clr-one);
  height: 100vh;
  display: flex;
}

.chart {
  justify-content: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: min(80%, 55rem);
  padding: 1rem 1rem 1rem 1rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  border-radius: 0.5rem;
  background-color: var(--clr--data);
  padding: 1rem;
  height: calc(100% - 2rem);
  margin-top: 2rem;
  transition: background-color 2s ease-out 100ms;
}

.card img {
  justify-self: flex-end;
  align-self: center;
}
.card:hover {
  background-color: var(--clr--data-hover);
}

.grid-row-span-2 {
  grid-row: span 2;
}

/* main card styling  */
.main {
  background-color: var(--clr--data);
  grid-row-end: 2;
  border-radius: 0.5rem;
}

.profile {
  background-color: var(--clr--profile-card);
  border-radius: 0.5rem;
  padding-block: 1rem;
}

#jeremy {
  margin-inline: 1rem;
  width: 35%;
  border: 4px solid var(--txt-clr-one);
  border-radius: 50%;
}
.profile p {
  font-size: 0.9rem;
  color: var(--txt-clr);
  margin-inline: 1rem;
  padding-top: 1rem;
}

h1 {
  font-weight: 300;
  margin-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.periodical {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.periodical p {
  margin-block: 0.5rem;
  color: var(--txt-clr);
}

/* .button:hover,
.button:active {
  color: var(--txt-clr-one);
} */

.button:is(:hover, .active) {
  color: var(--txt-clr-one);
  cursor: pointer;
}

/* Time tracking cards styling*/
.title {
  align-self: end;
}

.current {
  font-size: 2.8rem;
  font-weight: 300;
  align-self: end;
}

.previous {
  font-size: 0.9rem;
  grid-row-start: 3;
  grid-column-end: span 2;
  align-self: center;
  color: var(--txt-clr);
}

/* Time tracking cards background */
.bg {
  background-color: var(--clr--work-card);
  background-image: url(images/icon-work.svg);
  background-repeat: no-repeat;
  background-image: left top;
  background-position: 95% -7%;
  border-radius: 0.5rem 0.5rem 1rem 1rem;
}

.bg:nth-of-type(3) {
  background-color: var(--clr--play-card);
  background-image: url(images/icon-play.svg);
}

.bg:nth-of-type(4) {
  background-color: var(--clr--study-card);
  background-image: url(images/icon-study.svg);
}

.bg:nth-of-type(5) {
  background-color: var(--clr--exer-card);
  background-image: url(images/icon-exercise.svg);
}

.bg:nth-of-type(6) {
  background-color: var(--clr--soc-card);
  background-image: url(images/icon-social.svg);
}

.bg:nth-of-type(7) {
  background-color: var(--clr--self-card);
  background-image: url(images/icon-self-care.svg);
}

/* responsivness  */
@media (max-width: 1000px) {
  * {
    font-size: 16px;
  }
  .chart {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 30rem;
    min-width:17.5rem;
  }
  .periodical {
    flex-direction: row;
    padding-block: 1rem;
  }
  .periodical p {
   margin-inline: auto;
  }
  .last-week {
    grid-row-start: 2;
    grid-column-end: 3;
    align-self: end;
    justify-self: flex-end;
    align-self: center;
  }

  #jeremy {
    width: 30%;
    height: 30%;
  }

  .profile {
    display: flex;
    padding-block: 0.5rem;
  }
  .report {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.2rem;
  }
  .previous {
    grid-row-start: 2;
    grid-column-end: 3;
    justify-self: flex-end;
  }
}
